*{
    margin: 0;  padding: 0; text-decoration: none;
    box-sizing: border-box;
}

section{margin: 100px;}

img{
    transition-duration: 500ms;

}

.content {
    position: fixed;
    bottom: 30%;
    background : rgba(3, 0, 0, 0.603);
    color: #f1f1f1;
    width: 100%;
    padding: 30px;
    font-size: larger;
    z-index: 100;
    text-align: center;
    
  }
  
  
#video{
    background-size: cover;
    height:100%;
    position: fixed;
    width: 100%;
    object-fit: cover;
    z-index: -1;
    overflow: hidden;
  }
 
header{
    position: fixed;
    top:0; left: 0; right: 0;
    background: #f1f1f1;
    padding: 20px 7%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    z-index: 1000;
}

/*header*/

header .logo {
    font-weight: bolder;
    font-size: 25px;
    color: black;
}

header .navbar ul{
    list-style: none;
}

header .navbar ul li{
    position: relative;
    float: left;
}

header .navbar ul li a{
    font-size: 20px;
    padding: 20px;
    color: black;
    display: block;
    transition-duration: 500ms;  
}


header .navbar ul li a:hover{
    background: black;
    color: white;
    transition-duration: 500ms;  
}

#menu-bar{
    display: none;
    
}
header label{
    font-size: 20px;
    color: black;
    cursor: pointer;
    display: none;
    
}

/*button*/
.highlight{
    display: inline-block;
    padding: 15px 20px;
  background-color: white;
    background-size: cover;
    text-decoration: none;
    margin-top: 50px;
   text-align: center;
   color: black;
   border: 2px solid black;
   transition-duration: 500ms;   
   box-shadow: black 5px 10px;
}

.highlight:hover{
    background-color: black;  
    transition-duration: 500ms;   
    transform: scale(1.5);
    color: white;   
    box-shadow: white 5px 10px;
}

/*animation*/
.content .text1{
    position: absolute;
    margin: 5px 0;
    padding: 0px;
    width: max-content;
    animation: textmove1 20s linear infinite;
    

}
@keyframes textmove1{
    0%  {transform:translate(-200px); }
    100%{transform:translate(2100px);}
}

.content .text2{
    position: absolute;
    margin: 5px 0;
    padding: 0px;
    width: max-content;
    animation: textmove2 20s linear infinite;

}
@keyframes textmove2{
    0%  {transform:translate(-350px); }
    100%{transform:translate(1800px);}
}


.content .text3{
    position: absolute;
    margin: 5px 0;
    padding: 0px;
    width: max-content;
    animation: textmove3 20s linear infinite;

}
@keyframes textmove3{
    0%  {transform:translate(-550px); }
    100%{transform:translate(1500px);}
}

/*section 1 intiative*/
#WWD-init{
    margin-top: 120px;
    padding-left: 50px;
}

#WWD-init h2{
    font-size: 50px;
}
#WWD-init p{
    font-size: 20px;
}
#WWD-init .wrapper{
    margin: auto;
  
}
#WWD-init .section-title{
    font-size: 60px;}

#WWD-init img{
    float: right;
    height: 150px; width: auto;
    padding: 5px;
}

#WWD-init img:hover{
    transform: scale(1.1);
}

/*section 1 involvement*/
#WWD-invol h2{
    font-size: 50px;
    text-align: left;
}
#WWD-invol ul li{
    font-size: 20px;
    text-align: left;
}
#WWD .wwd-invol{
        padding-left:20px;
        display: block;
        
    }
    
#WWD-invol img{
        float: left;        
        height: 200px; width: auto;
        margin: 20px;
        padding-right: 20px;
   
    }
    
#WWD-invol   img:hover{
        transform: scale(1.1);
    }
    
#WWD-invol{                             
        display: flex;
        justify-content: center;
        align-items: center;
        display: inline;
        padding: 20px;}

 #WWD-invol .wrapper{
        margin: auto;
        width:90%;
        float:right;}



/*section 2*/
#AaP .section-title{
    font-size: 60px;
    padding-left: 30px;
}

#AaP img{
    height: 600; width: 1000px;
}

#AaP p{
    font-size: 20px;
    text-align: center;
}

/*section 3*/
#au{
 width: max-content;
}
#au .section-title{
    font-size: 60px;
    padding-left: 30px;
}



#au .gallery {

    margin: 20px;

    width: 300px;
    display: inline-block;
  }
  

  
#au .gallery img {
    width: 100%;
    height: auto;
    padding-top: 5px;
  }
  
#au .desc {
    padding: 15px;
    text-align: center;
  }

#au .gallery img:hover{
    transform: scale(1.1);
}

/*section 4*/

#hth{
    width: max-content;
   }
   #hth .section-title{
       font-size: 60px;
       padding-left: 30px;
   }
   
   
   
   #hth .gallery {
   
       margin: 20px;
   
       width: 300px;
       display: inline-block;
     }
     
   
     
   #hth .gallery img {
       width: 100%;
       height: auto;
       padding-top: 5px;
     }
     
   #hth .desc {
       padding: 15px;
       text-align: center;
     }
   
   #hth .gallery img:hover{
       transform: scale(1.1);
   }



/*sprite*/ 
   #facebook{
    background-position: -439px -146px;


}

.icon{
    float: left;
    display: inline flex;
    background: url(media/sprite3.png) no-repeat;
    width: 66px;
    height:66px;
    margin-left: 15px;
    margin-top: 10px;
    margin-bottom: 5px;
    z-index: 1000;
}

/*responsive*/
@media(max-width:500px){
    header{
        padding: 20px;   
    }

    header label{
        display: initial;
    }
    header .navbar{
        position: absolute;
        top: 100%; left: 0; right: 0;
        background: white;
        border-top: 1px solid black;
        display: none;
    }

    header .navbar ul li{
        width: 100%;
        
    }

    #menu-bar:checked ~ .navbar{
        display: initial;
        
    }
    #au .gallery {
        display: flex;  
    }
    img{
        width: auto; height: 100%   ;
    }
}



